@import "src/config";

.header {
  &__top {
    border-bottom: 1px solid $whiteBorderColor;
    padding-top: 12px;
    padding-bottom: 12px;
  }

  &__top-wrapper {
    display: flex;
    align-items: center;
    justify-content: space-between;
  }

  &__location {
  }

  &__location-link {
    position: relative;
    font-size: 13px;
    line-height: 16px;
    color: $baseTextColor;
    display: inline-block;
    padding-left: 18px;

    &::before {
      content: '';
      display: block;
      position: absolute;
      left: 0;
      top: 0;
      z-index: 1;
      width: 14px;
      height: 14px;
      background-image: url("../../../assets/image/point.svg");
      background-position: center;
      background-repeat: no-repeat;
      background-size: 100%;
    }
  }

  &__topNav {
  }

  &__topNav-menu {
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    justify-content: space-between;
  }

  &__topNav-item {
    display: block;
    padding-left: 10px;
    padding-right: 10px;
  }

  &__topNav-link {
    font-size: 13px;
    line-height: 16px;

    &:hover {
      color: $redColor;
      text-decoration: underline;
    }
  }

  &__user-profile {
  }

  &__user-link {
    position: relative;
    font-size: 13px;
    line-height: 16px;
    color: $baseTextColor;
    display: inline-block;
    padding-left: 22px;

    &::before {
      content: '';
      display: block;
      position: absolute;
      left: 0;
      top: 0;
      z-index: 1;
      width: 17px;
      height: 17px;
      background-image: url("../../../assets/image/account.svg");
      background-position: center;
      background-repeat: no-repeat;
      background-size: 100%;
    }
  }

  &__center {
    padding-top: 16px;
    padding-bottom: 16px;
  }

  &__center-wrapper {
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-wrap: wrap;
  }

  &__logo {
  }

  &__logo-img {
    display: block;
    width: 187px;
    height: 64px;
    background-image: url('../../../assets/image/point.svg');
    @include imageSettingsHeader;
    cursor: pointer;
  }

  &__centerNav {
  }

  &__centerNav-menu {
    display: flex;
    flex-wrap: wrap;
  }

  &__centerNav-item {
    display: block;
    padding: 0 10px;
  }

  &__centerNav-link {
    font-weight: 500;
    font-size: 15px;
    line-height: 18px;
    color: $baseTextColor;

    &:hover {
      text-decoration: underline;
    }

    &.active {
      color: $redColor;
    }
  }

  &__search {
    display: flex;
    align-items: center;
    border: 1px solid $whiteBorderColor;
    border-radius: 5px;
    flex: 1 1 100%;
    max-width: 364px;
    padding: 11px 16px;
  }

  &__search-input {
    flex: 1 1 100%;
    font-size: 14px;
    line-height: 25px;
    color: $greyColor;
    border: none;
  }

  &__search-submit {
    content: "";
    display: block;
    width: 20px;
    height: 20px;
    cursor: pointer;
    background-image: url("../../../assets/image/search.svg");
    background-color: transparent;
    border: none;
    @include imageSettingsHeader;
    transition-duration: 0.8s;
    transition-property: transform;

    &:hover {
      transform: rotate(380deg);
    }
  }

  &__social {
     display: flex;
  }

  &__social-item {
    padding: 0 6px;
    img {
      display: block;
      width: 25px;
      height: 25px;
    }
  }

  &__contact {
    display: flex;
    flex-direction: column;
  }

  &__contact-phone {
    display: block;
    font-size: 20px;
    line-height: 20px;
    font-weight: 600;
    color: $baseTextColor;
    &:hover {
      text-decoration: underline;
    }
  }

  &__contact-time {
    display: block;
    font-size: 12px;
    line-height: 20;
    font-weight: 600;
    color: $baseTextColor;
  }

  &__cart {

  }

  &__cart-link {
    font-size: 14px;
    line-height: 17px;
    color: $baseTextColor;
    position: relative;
    padding-left: 51px;
    padding-top: 5px;
    display: block;
    text-align: right;
    &::before {
      content: '';
      display: block;
      width: 40px;
      height: 42px;
      position: absolute;
      left: 0;
      top: 0;
      z-index: 1;
      background-image: url('../../../assets/image/shopping-cart.svg');
      @include imageSettingsHeader;
    }
  }

  &__contact-num {
    position: absolute;
    left: 0;
    top: 0;
    z-index: 20;
    background-color: $redColor;
    color: $whiteBorderColor;
    font-size: 12px;
    line-height: 16px;
    font-weight: 800;
    min-width: 16px;
    min-height: 16px;
    border-radius: 50%;
    text-align: center;
    padding: 0 5px;
  }

  &__contact-name {
  }

  &__contact-money {
    font-weight: 600;
  }

  &__bottom {
    padding-top: 16px;
    padding-bottom: 16px;
  }

  &__bottom-wrapper {
    display: flex;
    align-items: center;
    justify-content: space-between;
  }

  &__bottom-all {
  }

  &__all-category-link {
    display: flex;
    width: 190px;
    height: 46px;
    background: $redColor;
    color: #fff;
    border-radius: 8px;
    font-size: 14px;
    line-height: 18px;
    align-items: center;
    padding-left: 56px;
    position: relative;
    &::before {
      content: '';
      display: block;
      position: absolute;
      left: 23px;
      top: 15px;
      z-index: 1;
      width: 22px;
      height: 2px;
      background-color: #fff;
    }
    &::after {
      content: '';
      display: block;
      position: absolute;
      left: 23px;
      top: 32px;
      z-index: 1;
      width: 22px;
      height: 2px;
      background-color: #fff;
    }
  }

  &__all-category-icon {
    display: block;
    position: absolute;
    left: 23px;
    top: 24px;
    z-index: 1;
    width: 18px;
    height: 2px;
    background-color: #fff;
  }

  &__bottomNav {
    flex: 1 1 100%;
    width: 100%;
  }

  &__bottomNav-menu {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 20px;
    flex-wrap: wrap;
  }

  &__bottomNav-item {
    display: block;
    padding: 0 8px;
    align-items: center;
  }

  &__bottomNav-link {
    font-weight: 500;
    font-size: 14px;
    line-height: 18px;
    color: $baseTextColor;
    &:hover {
      text-decoration: none;
    }
  }

  &__bottomSale {
    flex: 0 0 auto;
  }

  &__bottomSale-menu {
    display: flex;
  }

  &__bottomSale-item {
    display: block;
    padding: 0 5px;
  }

  &__bottomSale-link {
    font-weight: 600;
    font-size: 17px;
    line-height: 19px;
    color: $redColor;
    &:hover {
      text-decoration: underline;
    }
  }
}

.container {
  width: 100%;
  max-width: 1660px;
  padding: 0 15px;
  margin: 0 auto;
}

.active {
}

