/.idea
/back/node_modules
/back/public/build
/back/public/hot
/back/public/storage
/back/storage/*.key
/back/vendor
/back/.env
/back/.env.backup
/back/.env.production
/back/.phpunit.result.cache
/back/Homestead.json
/back/Homestead.yaml
/back/auth.json
/back/npm-debug.log
/back/yarn-error.log
/back/.fleet
/back/.idea
/back/.vscode
