/.idea
/back/node_modules
/back/public/build
/back/public/hot
/back/public/storage
/back/storage/*.key
/back/vendor
/back/.env
/back/.env.backup
/back/.env.production
/back/.phpunit.result.cache
/back/Homestead.json
/back/Homestead.yaml
/back/auth.json
/back/npm-debug.log
/back/yarn-error.log
/back/.fleet
/back/.idea
/back/.vscode

# Logs
/front/logs
/front/*.log
/front/npm-debug.log*
/front/yarn-debug.log*
/front/yarn-error.log*
/front/pnpm-debug.log*
/front/lerna-debug.log*

/front/node_modules
/front/.DS_Store
/front/dist
/front/dist-ssr
/front/coverage
/front/*.local

/front//cypress/videos/
/front//cypress/screenshots/

# Editor directories and files
/front/.vscode/*
/front/!.vscode/extensions.json
/front/.idea
/front/*.suo
/front/*.ntvs*
/front/*.njsproj
/front/*.sln
/front/*.sw?