@import "../../styles/mixin";

.userAddBlock {
  h1 {
    text-align: center;
    padding: 30px 0;
    font-size: 20px;
    font-weight: 800;
    line-height: 32px;
  }

  .userAddForm {
    display: flex;
    flex-direction: column;
    align-content: center;
    align-items: center;

    input {
      width: 400px;
      height: 42px;
      padding-left: 8px;
      margin-bottom: 22px;
    }

    select {
      width: 400px;
      height: 42px;
      padding-left: 8px;
      margin-bottom: 22px;
    }
  }

  .userAddButtons {
    margin-top: 22px;
    display: flex;

    button:first-child {
      @include cancelButtonAdmin();
    }

    button:last-child {
      @include addButtonAdmin();
    }
  }
}

.categoryAddBlock {
  display: flex;
  flex-direction: column;
  align-content: center;
  align-items: center;

  .inputNameCategory {
    width: 400px;
    height: 52px;
    padding-left: 8px;
    margin-bottom: 10px;
  }

  h1 {
    text-align: center;
    padding: 30px 0;
    font-size: 20px;
    font-weight: 800;
    line-height: 32px;
  }

  .categoryAddInputs {
    input {
      padding: 8px 30px;
      margin: 0 10px 8px;
    }
  }

  .addNewBlock {
    margin-top: 12px;
    cursor: pointer;
    padding: 8px 20px;
    background: transparent;
    outline: none;
  }

  .categoryAddButtons {
    margin-top: 22px;
    display: flex;

    button:last-child  {
      @include addButtonAdmin();
    }

    button:first-child {
      margin-left: 30px;
      @include cancelButtonAdmin();
    }
  }
}

.brandAddBlock {
  h1 {
    text-align: center;
    padding: 30px 0;
    font-size: 20px;
    font-weight: 800;
    line-height: 32px;
  }

  .brandAddForm {
    display: flex;
    flex-direction: column;
    align-content: center;
    align-items: center;

    input {
      width: 400px;
      height: 42px;
      margin-bottom: 22px;
    }

    .brandAddButtons {
      margin-top: 22px;
      display: flex;

      button:first-child {
        @include cancelButtonAdmin();
      }

      button:last-child {
        @include addButtonAdmin();
      }
    }
  }
}

.converterBlock {
  display: flex;
  flex-direction: column;
  align-content: center;
  align-items: center;

  .converterFiles {
    label {
      font-size: 17px;
      font-weight: 700;
      margin-right: 20px;
    }
  }

  .converterFile {
    align-items: center;
    align-content: center;
    text-align: center;
    margin-top: 22px;

    a {
      text-decoration: underline;
      color: #3758CB;
      font-size: 17px;
      font-weight: 800;
    }
  }

  button {
    margin-top: 22px;
    cursor: pointer;
    padding: 8px 20px;
    background: transparent;
    outline: none;
  }

  h2 {
    text-align: center;
    padding: 30px 0;
    font-size: 20px;
    font-weight: 800;
    line-height: 32px;
  }
}

.adminWidets {
  display: flex;
  justify-content: space-between;
  padding: 20px;
  gap: 20px;
}

.productAddBlock {

  h1 {
    text-align: center;
    padding: 30px 0;
    font-size: 20px;
    font-weight: 800;
    line-height: 32px;
  }

  .productAddWrapper {
    max-width: 820px;
    display: flex;
    justify-content: space-between;
    margin-left: auto;
    margin-right: auto;

    h1 {
      text-align: center;
      padding: 30px 0;
      font-size: 20px;
      font-weight: 800;
      line-height: 32px;
    }

    .productAddBlockFlag {
      display: flex;
      label {
        margin-left: 12px;
      }
      input {
        width: 24px !important;
        height: 24px !important;
        padding: 0;
        margin: 0;
      }
    }

    .productAddLeft {
      padding: 20px 20px;
      display: flex;
      flex-direction: column;

      input {
        width: 400px;
        height: 52px;
        margin-bottom: 12px;
        padding-left: 8px;
        &:focus {
          border: 1px solid #437FC8;
        }
        &:active {
          border: 1px solid #437FC8;
        }
      }

    }
    .productAddRight {
      padding: 20px 20px;
      display: flex;
      flex-direction: column;
      input {
        width: 400px;
        height: 52px;
        margin-bottom: 12px;
        padding-left: 8px;
        &:focus {
          border: 1px solid #437FC8;
        }
        &:active {
          border: 1px solid #437FC8;
        }
      }
      select {
        width: 400px;
        height: 52px;
        margin-bottom: 12px;
      }
    }
    .productAddCreateButton {
      border: none;
      height: 50px;
      margin-top: 15px;
      background: #2abf52;
      color: #e5e5e5;
      font-size: 17px;
      font-weight: 600;
      cursor: pointer;
      border-radius: 2px;
    }

    .productAddCancelButton {
      border: none;
      height: 30px;
      background-color: #d93737;
      color: #e5e5e5;
      font-size: 17px;
      font-weight: 600;
      cursor: pointer;
      border-radius: 2px;
    }
  }
}

.modalWindow {
  display: flex;
  flex-direction: column;
  .ModalWindowInput {
    padding-bottom: 20px;
  }
  .FileInput {
    position: relative;
    display: inline-block;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 33px;
    .inputFileBtn {
      position: relative;
      display: inline-block;
      cursor: pointer;
      outline: none;
      text-decoration: none;
      font-size: 14px;
      vertical-align: middle;
      color: rgb(255 255 255);
      text-align: center;
      border-radius: 4px;
      background-color: #2d85de;
      line-height: 22px;
      height: 40px;
      padding: 10px 20px;
      box-sizing: border-box;
      border: none;
      margin: 0;
      &:hover {
        background-color: #2abf52;
      }
    }
    input[type=file] {
      position: absolute;
      z-index: -1;
      opacity: 0;
      display: block;
      width: 0;
      height: 0;
    }
  }
  .ModalWindowTextArea {
    width: 480px;
    height: 280px;
    border: 1px solid #6E6E6E;
    resize: none;
    padding-top: 10px;
    padding-left: 8px;
    padding-right: 8px;
    border-radius: 8px;
    margin-bottom: 20px;
  }
}