.cartPage {
  .cartPageContainer {
    .cartPageTitle {

    }

    .cartPageWrapper {
      display: flex;
      @media screen and (max-width: 768px) {
        flex-direction: column-reverse;
      }

      .cartPageLeft {
        flex: 1 1 auto;
      }

      .cartPageRight {
        flex: 0 0 auto;
        width: 100%;
        max-width: 466px;
        margin-left: 66px;
        @media screen and (max-width: 768px) {
          max-width: 100%;
          margin-left: 0;
          margin-bottom: 28px;
        }
      }
    }
  }
}