@import "vars";

*,
::before,
::after
{
  box-sizing: border-box;
  font-size: 16px;
  font-weight: 500;
  font-style: normal;
  font-family: 'FuturaPT', sans-serif;
  color: $baseTextColor;
  text-decoration: none;
  list-style: none;
  outline: none;
  transition: .4s ease;
}

body,html {
  padding: 0;
  margin: 0;
}