.shopping-cart {
  background: #FFFFFF;
  box-shadow: 1px 2px 3px 0 rgba(0,0,0,0.10);
  border-radius: 6px;
  display: flex;
  flex-direction: column;
}

.title {
  height: 60px;
  border-bottom: 1px solid #E1E8EE;
  padding: 20px 30px;
  color: #5E6977;
  font-size: 18px;
  font-weight: 400;
}

.item {
  display: flex;
  padding: 0;
  margin: 0;
  align-items: center;
  border-top:  1px solid #E1E8EE;
  border-bottom:  1px solid #E1E8EE;
}

.delete-btn {
  display: inline-block;
  Cursor: pointer;
}

.delete-btn {
  width: 18px;
  height: 17px;
  &::before {
    color: #3758CB;
    content: "✖";
  }
}

.like-btn {
  position: absolute;
  top: 9px;
  left: 15px;
  width: 60px;
  height: 60px;
  background-size: 2900%;
}

.image {
  margin-right: 50px;
  img {
    width: 200px;
    height: 200px;
  }
}

.description {
  width: 500px;
  a {
    font-size: 18px;
    font-weight: 700;
    &:hover {
      color: #437FC8;
      text-decoration: underline;
    }
  }
}

.buttons {
  width: 60px;
  position: relative;
}

.price {
  width: 200px;
}

.quantity {
  width: 200px;
}

.quantity input {
  -webkit-appearance: none;
  border: none;
  text-align: center;
  width: 32px;
  font-size: 16px;
  color: #43484D;
  font-weight: 300;
}

button[class*=btn] {
  width: 30px;
  height: 30px;
  background-color: #E1E8EE;
  border-radius: 6px;
  border: none;
  cursor: pointer;
}
.minus-btn {
  margin-bottom: 3px;
  &::before {
    content: '-';
  }
}
.plus-btn {
  margin-top: 2px;
  &::before {
    content: '+';
  }
}

button:focus,
input:focus {
  outline:0;
}

.total-price {
  display: flex;
  flex-direction: row;
  span:first-child {
    margin-right: 60px;
  }
}

@media (max-width: 800px) {
  .shopping-cart {
    width: 100%;
    height: auto;
    overflow: hidden;
  }
  .item {
    height: auto;
    flex-wrap: wrap;
    justify-content: center;
  }
}