@font-face {
  font-family: "FuturaPT";
  font-weight: 400;
  font-style: normal;
  src: url("../assets/fonts/FuturaPT-Light.woff") format('woff');
}
@font-face {
  font-family: "FuturaPT";
  font-weight: 500;
  font-style: normal;
  src: url("../assets/fonts/FuturaPT-Medium.woff") format('woff');
}
@font-face {
  font-family: "FuturaPT";
  font-weight: 600;
  font-style: normal;
  src: url("../assets/fonts/FuturaPT-Medium.woff") format('woff');
}
@font-face {
  font-family: "FuturaPT";
  font-weight: 700;
  font-style: normal;
  src: url("../assets/fonts/FuturaPT-Bold.woff") format('woff');
}
@font-face {
  font-family: "FuturaPT";
  font-weight: 800;
  font-style: normal;
  src: url("../assets/fonts/FuturaPT-Bold.woff") format('woff');
}
@font-face {
  font-family: "FuturaPT";
  font-weight: 900;
  font-style: normal;
  src: url("../assets/fonts/FuturaPT-ExtraBold.woff") format('woff');
}
@font-face {
  font-family: "FuturaPT";
  font-weight: bold;
  font-style: normal;
  src: url("../assets/fonts/FuturaPT-Bold.woff") format('woff');
}