@mixin imageSettingsHeader {
  background-position: left top;
  background-size: 100%;
  background-repeat: no-repeat;
}

@mixin addToCartButton {
  padding: 12px 28px;
  background: cornflowerblue;
  color: white;
  border-radius: 10px;
  cursor: pointer;
  outline: none;
  border: none;
  @media only screen and (max-width: 700px) and (min-width: 300px){
    padding: 12px 18px;
    font-size: 14px;
  }
}

@mixin removeFromCartButton {
  padding: 12px 32px;
  background:  #10c44c;
  color: white;
  border: none;
  border-radius: 10px;
  cursor: pointer;
  @media only screen and (max-width: 700px) and (min-width: 300px){
    padding: 12px 18px;
    font-size: 14px;
  }
}