.profileContainer {
  display: grid;
  grid-template-columns: 1.2fr 1.1fr 0.7fr;
  grid-template-rows: 1.1fr 1fr 1fr;
  gap: 50px 40px;
  grid-auto-flow: row;
  grid-template-areas:
    "block-1 block-2 block-5"
    "block-3 block-4 block-5"
    ". . .";
}

.blockFirst {
  grid-area: block-1;
}

.blockSecond {
  grid-area: block-2;
}

.blockThird {
  grid-area: block-3;
}

.blockFourth {
  grid-area: block-4;
}

.blockFiftieth {
  grid-area: block-5;
}

.profileBlock {
  .profile__title {
    font-size: 22px;
    font-weight: 800;
  }

  .profile__data {
    font-size: 17px;
    font-weight: 600;
    text-transform: uppercase;
  }
}